name: Linux Release
on:
  workflow_dispatch:

jobs:
  build:
    name: flutter release linux
    runs-on: ubuntu-latest
    env:
      APP_NAME: tagged_todos_organizer
      BUILD_PATH: build/linux/x64/release/bundle/

    steps:
      - uses: actions/checkout@v3

      - id: read-version
        uses: NiklasLehnfeld/flutter-version-number-action@main
        with:
          file-path: pubspec.yaml

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.35.7'

      - name: Install Flutter Linux dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            clang cmake git \
            ninja-build pkg-config \
            libgtk-3-dev liblzma-dev \
            libstdc++-12-dev

      - name: Clean project dependencies
        run: flutter clean

      - name: Install project dependencies
        run: flutter pub get

      - name: Generate intermediates
        run: flutter pub run build_runner build --delete-conflicting-outputs

      - name: Build artifacts
        run: flutter build linux --release


      - name: Archive Release
        uses: thedoctor0/zip-release@master
        with:
          type: 'zip'
          filename: ${{ env.APP_NAME }}-linux-x64-${{ steps.read-version.outputs.version-number }}.zip
          directory: ${{ env.BUILD_PATH }}

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ env.APP_NAME }}-${{ steps.read-version.outputs.version-number }}
          files: ${{ env.BUILD_PATH }}${{ env.APP_NAME }}-linux-x64-${{ steps.read-version.outputs.version-number }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}